body {
  font-family: "Lato", sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Orbitron", sans-serif; }

aside {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 100vh;
  position: fixed;
  left: -80vw;
  background: white;
  z-index: 999;
  overflow-y: scroll;
  transition: 200ms; }
  aside:after {
    content: " ";
    display: block;
    clear: both; }
  aside nav {
    width: 80vw;
    background: #3D5866;
    position: fixed;
    z-index: 1005; }
  aside form {
    width: 80vw;
    position: fixed;
    top: 12vh;
    z-index: 1004; }
  aside .mobile-links {
    position: relative;
    top: 18vh;
    z-index: 1000; }
  aside.show {
    left: 0;
    transition: 200ms; }

.sidebar-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: black;
  opacity: 0;
  z-index: 997;
  display: none;
  transition: 200ms; }
  .sidebar-overlay.show {
    opacity: .80;
    display: block;
    transition: 200ms; }

header {
  background: #3D5866;
  position: fixed;
  top: 0;
  z-index: 100; }

nav.navbar-mobile {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  nav.navbar-mobile:after {
    content: " ";
    display: block;
    clear: both; }
  nav.navbar-mobile a {
    display: block; }
    nav.navbar-mobile a img {
      display: block; }

.navbar-mobile-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 2vh 4.16667%; }
  .navbar-mobile-menu img {
    width: 100%;
    height: auto;
    margin: auto; }

/*.navbar-mobile-logo {
    @include span(6);
    margin: 1vh 0;
    img {
        width: auto;
        height: 8vh;
        margin: auto;
    }
}
.navbar-mobile-cart {
    @include span(3);
    margin: 4vh 0;
    img {
        width: auto;
        height: 4vh;
        margin: auto;
    }
}*/
.search-mobile {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #70848F; }
  .search-mobile:after {
    content: " ";
    display: block;
    clear: both; }

.search-mobile-input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 1vh 4.16667%; }
  .search-mobile-input input[type="search"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding: 0.5em 4.16667%;
    border: none; }
  .search-mobile-input button {
    position: absolute;
    right: 8.33333%;
    border: none;
    background: none; }
    .search-mobile-input button img {
      height: 1rem;
      margin: .4em; }

.promo {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #70BD77;
  padding: .5em; }
  .promo:after {
    content: " ";
    display: block;
    clear: both; }

.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-image: url("assets/images/hero-1.png");
  padding: 6vh 0;
  background-size: cover; }
  .hero:after {
    content: " ";
    display: block;
    clear: both; }
  .hero h1 {
    text-align: center;
    font-weight: normal;
    margin: 0 4.16667%;
    color: white;
    line-height: 1.4em;
    letter-spacing: 1px;
    font-size: 1.8rem; }
  .hero p {
    margin: 1em 4.16667%;
    line-height: 1.4em;
    text-align: center;
    color: white;
    font-size: 1rem; }
  .hero img {
    position: absolute;
    top: 2vh;
    left: 8vw;
    width: 32vw;
    height: auto;
    opacity: .4; }
  .hero a.call-to-action {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    display: block;
    text-transform: uppercase;
    color: #3D5866;
    background: white;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    margin: 2vh 16.66667%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem; }

main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-top: 12vh; }
  main:after {
    content: " ";
    display: block;
    clear: both; }

.copy-area {
  margin: 2rem 0; }
  .copy-area h4 {
    font-size: 1.2rem;
    line-height: 1.4em;
    text-transform: uppercase;
    margin: 2rem 4.16667% 0;
    color: #132832; }
  .copy-area p {
    font-size: 1rem;
    margin: 1em 4.16667%;
    line-height: 1.4em; }

/*# sourceMappingURL=style.css.map */
