body {
  font-family: "Lato", sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif; }

aside {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 100vh;
  position: fixed;
  left: -80vw;
  background: #F5F5F5;
  z-index: 999;
  overflow-y: scroll;
  transition: 200ms; }
  aside:after {
    content: " ";
    display: block;
    clear: both; }
  aside nav {
    width: 80vw;
    background: white;
    position: fixed;
    z-index: 1005; }
  aside form {
    width: 80vw;
    position: fixed;
    top: 12vh;
    z-index: 1004; }
  aside .mobile-links {
    position: relative;
    top: 18vh;
    z-index: 1000; }
  aside.show {
    left: 0;
    transition: 200ms; }

.sidebar-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: black;
  opacity: 0;
  z-index: 997;
  display: none;
  transition: 200ms; }
  .sidebar-overlay.show {
    opacity: .80;
    display: block;
    transition: 200ms; }

header {
  background: white; }

nav.navbar-mobile {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  nav.navbar-mobile:after {
    content: " ";
    display: block;
    clear: both; }
  nav.navbar-mobile a {
    display: block; }
    nav.navbar-mobile a img {
      display: block; }

.navbar-mobile-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 4.5vh 0; }
  .navbar-mobile-menu img {
    width: auto;
    height: 3vh;
    margin: auto; }

.navbar-mobile-logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 1vh 0; }
  .navbar-mobile-logo img {
    width: auto;
    height: 8vh;
    margin: auto; }

.navbar-mobile-cart {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 4vh 0; }
  .navbar-mobile-cart img {
    width: auto;
    height: 4vh;
    margin: auto; }

.search-mobile {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #70848F; }
  .search-mobile:after {
    content: " ";
    display: block;
    clear: both; }

.search-mobile-input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 1vh 4.16667%; }
  .search-mobile-input input[type="search"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding: 0.5em 4.16667%;
    border: none; }
  .search-mobile-input button {
    position: absolute;
    right: 8.33333%;
    border: none;
    background: none; }
    .search-mobile-input button img {
      height: 1rem;
      margin: .4em; }

.promo {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #70BD77;
  padding: .5em; }
  .promo:after {
    content: " ";
    display: block;
    clear: both; }

.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: left;
  overflow: hidden; }
  .hero:after {
    content: " ";
    display: block;
    clear: both; }
  .hero figure {
    margin: 0;
    min-width: 10000vw;
    position: relative;
    left: 0; }
  .hero img {
    display: block;
    float: left;
    width: 100vw;
    height: auto; }
    .hero img:last-of-type {
      clear: right; }
  .hero figcaption {
    display: block;
    float: left;
    width: 100vw;
    height: auto;
    padding: 2em 4vw;
    background: white;
    box-sizing: border-box; }
    .hero figcaption:first-of-type {
      clear: left; }

main.mobile-home {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #F5F5F5;
  float: left; }
  main.mobile-home:after {
    content: " ";
    display: block;
    clear: both; }

h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1em 4.16667%; }

.mobile-links {
  margin: 0;
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .mobile-links:after {
    content: " ";
    display: block;
    clear: both; }
  .mobile-links a {
    color: rgba(0, 0, 0, 0.92);
    font-weight: 600; }
  .mobile-links li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    display: block;
    padding: 2em 4.16667%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
    .mobile-links li.call-to-action {
      background: #70BD77;
      color: white; }

.mobile-slider {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: left;
  overflow: hidden;
  overflow-x: scroll; }
  .mobile-slider:after {
    content: " ";
    display: block;
    clear: both; }

.mobile-slider-container {
  margin: 0;
  min-width: 10000vw; }

a.mobile-slider-product {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  width: 60vw;
  height: auto;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-top: none;
  text-decoration: none; }
  a.mobile-slider-product:after {
    content: " ";
    display: block;
    clear: both; }
  a.mobile-slider-product .product-image {
    display: block;
    width: auto;
    height: 40vw;
    margin: 4vw auto; }
  a.mobile-slider-product .product-details {
    margin: -10vw 2vw 4vw;
    padding: 1vw 0;
    -webkit-box-shadow: 0px -10px 40px 10px white;
    -moz-box-shadow: 0px -10px 40px 10px white;
    box-shadow: 0px -10px 40px 10px white;
    background: white;
    position: relative;
    z-index: 1; }
  a.mobile-slider-product .product-name {
    font-size: 1.2rem;
    margin: .4em 0;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.92); }
  a.mobile-slider-product .product-tag {
    font-size: 1rem;
    margin: 0 0 .4em;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8); }
  a.mobile-slider-product .product-count {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6); }
  a.mobile-slider-product .product-price {
    font-size: 1.2rem;
    margin: 0.4em 0;
    text-align: center;
    font-weight: 900;
    color: #910e00; }

/*# sourceMappingURL=style.css.map */
