header {
    background: white;
}
nav.navbar-mobile {
    @include container(100%);
    a {
        display: block; 
        img {
            display: block;
        }
    }
}
.navbar-mobile-menu {
    @include span(3);
    margin: 4.5vh 0;
    img {
        width: auto;
        height: 3vh;
        margin: auto;
    }
}
.navbar-mobile-logo {
    @include span(6);
    margin: 1vh 0;
    img {
        width: auto;
        height: 8vh;
        margin: auto;
    }
}
.navbar-mobile-cart {
    @include span(3);
    margin: 4vh 0;
    img {
        width: auto;
        height: 4vh;
        margin: auto;
    }
}
.search-mobile {
    @include container(100%);
    background: $bc-silver;
}
.search-mobile-input {
    @include span(11);
    margin: 1vh span(.5);
    input[type="search"] {
        @include span(12);
        padding: .5em span(.5);
        border: none;
    }
    button {
        position: absolute;
        right: span(1);
        border: none;
        background: none;
        img {
            height: 1rem;
            margin: .4em;
        }
    }
}
.promo {
    @include container(100%);
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: $bc-lime;
    padding: .5em;
}