.hero {
    @include container(100%);
    position: relative;
    float: left;
    overflow: hidden;
    //overflow-x: scroll;
    figure {
        margin: 0;
        min-width: 10000vw;
        position: relative;
        left: 0;
    }
    img {
        display: block;
        float: left;
        width: 100vw;
        height: auto;
        &:last-of-type {
            clear: right;
        }
    }
    figcaption {
        display: block;
        float: left;
        width: 100vw;
        height: auto;
        padding: 2em 4vw;
        background: white;
        box-sizing: border-box;
        &:first-of-type {
            clear: left;
        }
    }
}