 main {
     @include container(100%);
     width: span(12);
     //background: $bc-back;
     float: left;
     margin-top: 12vh;
 }
 
 .copy-area {
	 margin: 2rem 0;
	 h4 {
	     font-size: 1.2rem;
	     line-height: 1.4em;
	     text-transform: uppercase;
	     margin: 2rem span(.5) 0;
	     color: #132832;
 	}
 
	 p {
		 font-size: 1rem;
		 margin: 1em span(.5);
		 line-height: 1.4em;
	 }
 }
 